body {
  background: url("../img/mont-2.jpg") no-repeat;
  background-size: cover;
}

.col {
  border-radius: 5px;
  padding: 15px 10px 0px 10px;

  &:nth-child(1) {
    & form {
      background: rgba(235, 234, 234, 0.616);
      padding: 20px;
      border-radius: 5px;
    }
  }
  &:nth-child(2) {
    position: relative;

    & .table-wrap {
      overflow: auto;
      background: rgba(235, 234, 234, 0.616);
      padding: 10px;
      border-radius: 5px;
      min-height: 560px;
    }
    & .controlls-wrap {
      margin-top: 10px;
      display: flex;
      & .pagination {
        cursor: pointer;
        margin-right:8px;
      }
    }
  }
}
th {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #0069d9;
    color: #fff;
    border-radius: 7px;
  }
}
thead {
  & tr:hover {
    background: none;
    color: black;
  }
}
tr {
  &:hover{
    background: #0069d996;
    color: #fff;
    cursor: pointer;
  }
}

.active{
    background: #0069d996!important;
    color: #fff;
}
