
$mainBlue:#0069d996;
$darkWhite:rgba(235, 234, 234, 0.616);

body {
  background: url("../img/mont-2.jpg") no-repeat;
  background-size: cover;
}
.container{
  min-height:100vh;
}

.col {
  border-radius: 5px;
  padding: 15px 10px 0px 10px;

  &:nth-child(1) {
    & form {
      background: $darkWhite;
      padding: 20px;
      margin-top:58px;
      border-radius: 5px;
    }
  }
  &:nth-child(2) {

    & .table-wrap {
      overflow: auto;
      background: $darkWhite;
      padding: 10px;
      border-radius: 5px;
      min-height: 560px;
    }
    & .controlls-wrap {
      margin-top: 10px;
      display: flex;
      & .pagination {
        cursor: pointer;
        margin-right:8px;
      }
    }
  }
}

thead {
  & tr:hover {
    background: none;
    color: black;
  }
  & th {
    cursor: pointer;
    transition: all 0.2s ease;
  
    &:hover {
      background: $mainBlue;
      color: white;
      border-radius: 7px;
    }
  }
}
tr {
  &:hover{
    background: $mainBlue;
    color: white;
    cursor: pointer;
  }
}

.active{
    background: #0069d996!important;
    color: white;
}
